*{
    margin: 0%;
    padding: 0%;
}
.container{
   display: grid;
}
.one{
    position: fixed;
    float: left;
    width: 20%;   
    height: 800px; 
}
.one img{
    position: relative;
    margin: 20px 15px;
    height: 130px;
    width: 130px;
    border-radius: 5px;
}
.one h2{
    padding: 10px;
}
.one h3{
    padding: 10px;
    color:grey;
}

.one ul li {
    list-style: none;
    padding: 15px;
}

.one ul li a {
    text-decoration: none;
    color: black;
    padding: 15px;
}


.one ul :hover{
    color: black;
    background-color:grey;
}
.second{
    display: flex;
}
.mark1{
    float: right;
    width: 80%;
    background-color: gainsboro;
}
.mark1 h1{
    padding: 10px;
font-size:40px;
font-family:sans-serif;
}
.mark1 h3{
    margin-left: 10px;
}
.mark1 button{
    width: 100px;
    height: 40px;
    margin-left: 15px;
    color:black;
    cursor: pointer;    
   
}
.btn1{
    background-color: black;
    color: aliceblue !important;

}


.filter ul {
    display: flex;
    list-style: none;
    padding-top: 10px;
}
.filter ul li i {

    text-decoration: none;
    padding: 13px; 
}

.border{
    margin-top: 10px;
    width: 100%;
    height: 5px;
    background-color:gray;
}


.card{
    margin-top: 10px;
    display: flex;
    /* margin-left: 10px; */
    justify-content: space-evenly;
    height: 400px;


}
 
 
.inner p{
    margin-left: 20px;
    margin-top: 21px;
    font-size: 17px;
}
.inner {
    width: 380px;
    background-color: whitesmoke;
}
.inner img {
    width: 100%;
}

.pagination{

    text-align: center;
    
}
#bb {
    background-color: black;
    color: aliceblue;
}
#bb:hover{

    background-color: gainsboro;
  
    color: black;
}
.pagination button{
    width: 42px;
    height: 40px;
    margin: 60px 0px;
    border: none;
    background-color: gainsboro;

}
.pagination button:hover{
    background-color:black;
    color: aliceblue;
    
}
.container{
    
    display: flex;
    height: 350px;
    background-color:rgb(255, 255, 255);
    justify-content: space-between;

}

.pic{
    margin-left: 19px;
}
.aboutme{
margin-left: 19px;
}
.aboutme h2{
    padding-top: 40px;
}
.aboutme p{
    font-size: 20px;
    margin-top: 26px;
    color: rgb(104, 101, 101);
}

.progressbar{
    width: 100%;
    height: 40px;
    background-color: grey;
    margin-top: 15px;
}
.left-line{
    width: 95%;
    height: 40px;
    background-color: grey;
    text-align: center;
    float: left;
}
.left-line h3{
    color: white;
    padding-top: 10px;
}
.right-line{
    width: 5%;
    height: 40px;
    background-color: rgba(252, 251, 251, 0.534);
    float: right;
}

.aboutme button{
    width: 180px;
    height: 50px;
    background-color: rgb(104, 101, 101);
    color: white;
    border: none;
    margin-top: 17px;
    margin-left: 0;
   
}
.aboutme button:hover{
    background-color: rgb(205, 195, 195);
}
.aboutme button i{
    padding-inline: 10px;
}



.subsription{
    height: 600px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;

    flex-wrap: wrap;
}
.price{
    width: 32%;
    height: 600px;
    float: left;
     border-bottom: 1px solid #ddd;
    background-color:whitesmoke;
    border: 1px solid rgb(197, 192, 192);
}
.price ul li{
    border-bottom: 1px solid #ddd;
    padding: 25px 140px;
    list-style: none;
    border: none !important;
}
.price ul:hover{
    background-color: white;
    
  
}
#s1{
    padding: 25px 150px;
    font-size: 35px;
    background-color: grey;
    color: white;
}
#s1:hover{
    background-color: black;
}
#s2{
    padding: 30px 136px;
    font-size: 24px;
}
.price button{
    background-color: #009688;
    width: 100px;
    height: 50px;
    color: white;
    border: none;
    cursor: pointer;
    margin: 33px 137px;
}
.price button:hover{
    background-color: black;
}


.footer{
    background-color: gray;
    height: 941px;
    margin-top: 58px;
}
.f1{
    height: 240px;
    margin: auto;
}
.f1 h2{
    padding-top: 30px;
  margin-left: 19px;

}
.f1 i{
    font-size: 40px;
    color: white;
    padding: 22px 170px;
    text-align: center;

}
.f1 p{
    color: white;
    text-align: center;
}
.email{
  margin-left: 19px;
    height: 120px;
    float: left;
    background-color: rgb(57, 56, 56);
    margin-top: 25px;
}



.location{
    width:33%;
    height: 120px;
    float: left;
    background-color: #009688;
    margin-top: 25px;
}

.contact{
    width:33%;
    height: 120px;
    float: left;
    background-color: rgb(57, 56, 56);
    margin-top: 25px;
}

.f2{

    height: 1px;
    background-color: white;
    margin: auto;
}

.f3 h3{
    padding-top: 16px;
    margin-left: 19px;

}
.f3 input{
    margin-left: 19px;
margin-top: 5px;
    width: 90%;
    height: 40px;
    font-size: 13px;   
}
.f3 button{
    margin-top: 15px;
    margin-left: 19px;
    background-color: black;
    width: 180px;
    height: 45px;
    color: white;
    border: none;
    text-align: inherit;
    cursor: pointer;

}
.f3 button:hover{
    background-color: #ddd;
    color: black;
}
.f3 button i{
    padding-inline: 18px;
}
.f4{
    margin-top: 25px;
    height: 350px;
    background-color: rgb(57, 56, 56);


}

.f4 h3{
    color: white;
    font-size: 25px;
    padding-top: 62px;
}
.f4 p{
    padding-top: 50px;
    color: white;
}
.f4 img{
    padding-top: 50px;
    margin-left: 20px;
}
.d-flex p{
    margin-left: 15px;
}
.last {
    margin-left: 19px;
    width: 30%;
    height: 350px;
    float: left
}


.f5{
    width: 100%;
    height: 55px;
    background-color: black;
}
.f5 p{
    color: white;
    text-align: center;
    padding-top: 20px;
}

@media screen and (max-width: 768px) {
    .one {
        display: none;
    }

}
    